<!DOCTYPE HTML>
<html>
<head>
	<title>HTML5</title>
	<link rel="stylesheet" type="text/css" href="styles/main.css"/>
</head>
	<body>
		<video autoplay poster = "number-5.jpg" loop id="bgvid">
			  <source src="img/tour.mp4" type="video/webm">
		</video>
<div style="display:flex;justify-content:center;align-items:center;">
  <div>Hello from Provo</div>
</div>
	<div class = "box">
		<a class='typed'></a>
	<script>
  $(() => {
    $(".typed").typed({
      strings: ["Web Developer", "iOS Developer", "UX Designer", "Software Engineer", "Programmer", "Tech Entrepreneur", "Mobile Developer", "Career Seeker", "Creator and Maker"],
      typeSpeed: 50,
      backDelay: 3000,
      loop: true,
      showCursor: true,
      cursorChar: "!",
    })
  })
</script>
	
	</div>
	</body>
</html>

